:root{

    --button-color1:#4a4a4a;
    --close-color2:#1a1a1a;
    --background-color:#000000;
    --footer-color:#222222;
    --button-color:#ffffff;
    --button-color2:#4bc800;
    --inter-bar-height: 5vh;

}

/* ! debug */

.deb{
    border: 1px dashed red;
}


/*! GENERALS */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: var(--background-color);
    height: 3vh;
}

main{
    height: 90vh;
    background-color: var(--background-color);
    overflow: auto;
}

footer{
    height: 7vh;
    background-color: var(--footer-color);
    color: var(--button-color);
    text-align: center;
    font-size: .6rem;

}

select{
    color: var(--button-color);
    border: none;
    background-color: transparent;
}
/*! UTILS */

.flex {
	display: flex;
}
.wrap {
	flex-wrap: wrap;
}
.gap {
	gap: 2rem;
}
.xcenter {
	justify-content: center;
}
.ycenter {
	align-items: center;
}
.between {
	justify-content: space-between;
}
.end {
	justify-content: flex-end;
}
.evenly{
    justify-content: space-evenly;
}


/* ! SPECIFIC */


.interaction-bar div i{
    color: var(--button-color);
}
.interaction-bar div{
    background: var(--button-color1);
    display: inline-block;
    color: #ffffff;
    padding: .2rem .5rem;
    border-radius: 3px;
    margin: 1rem .5rem
}

.card{
    position: relative;
    width: 300px;
    height: 200px;
}

.crd-img{
    width: 100%;
}
.img-size{
    width: 100%;
    height: 100%;
}
.crd-controls{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: var(--button-color1);
    opacity: .8;
    color: var(--button-color);
    border-radius: 0 5px 0 0;
    padding: .1rem .5rem;
}

.crd-controls>i{
    cursor: pointer;
}
.footer-container i{
    font-size: 1.3rem;
    margin-bottom: .5rem;

}

.footer-btn{
    margin: 5px 10px;
    cursor: pointer;
}
.footer-btn.green{
    color: var(--button-color2);
}
.close{
    background-color:var(--button-color1);
    color: rgb(179, 0, 0);
    height: 100%;
    width: 100px;
    text-align: center; 
    cursor: pointer;
}

.close:hover{
    color: red;
    background-color:var(--close-color2);

}
.main-card-box{
    padding: 1rem;
}